:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: inherit;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  width:100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}